<h2 mat-dialog-title>Add New Item</h2>
<mat-dialog-content>
  <form #newItemForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Name" name="name" [(ngModel)]="newItem.name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantity" name="quantity" [(ngModel)]="newItem.quantity">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Unit" name="unit" [(ngModel)]="newItem.unit">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="newItemForm.value" [disabled]="newItemForm.invalid">Add</button>
</mat-dialog-actions>